services:
  # PostgreSQL Database
  db:
    image: postgres:15-alpine
    container_name: pmii-postgres
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - pmii-network

  # Go API Backend
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pmii-api
    restart: on-failure:3
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - pmii-network

  # pgAdmin auto connect to PostgreSQL
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pmii-pgadmin
    restart: unless-stopped
    env_file:
      - .env
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - pmii-network
networks:
  pmii-network:
    driver: bridge

volumes:
  postgres_data:
    driver: local
